<ul>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>

  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
  <li class="fa fa-circle"></li>
</ul>
