<a class="link back-link btn"><i class="fa fa-angle-left"></i></a>
<div id="titleBar">
  <h1>Info</h1>
</div>
<div class="paragraph-container">
  <h2><i class="fa fa-list-ol"></i> <a href="http://en.wikipedia.org/wiki/Rules_of_cribbage" onclick="navigator.app.loadUrl('http://en.wikipedia.org/wiki/Rules_of_cribbage', { openExternal:true }); return false;">Cribbage Rules</a></h2>

  <p>Don't know how to play? check out these rules to learn more about Cribbage.</p>

  <h2><i class="fa fa-wrench"></i> <a href="https://github.com/lpaulger/cribbage-the-game/issues" onclick="navigator.app.loadUrl('https://github.com/lpaulger/cribbage-the-game/issues', { openExternal:true }); return false;">Report bugs</a></h2>

  <p>If something doesn't seem to be working correctly, or you'd like to see improvements then please head over to log
    an issue.</p>

  <h2><i class="fa fa-at"></i> <a href="http://lucaspaulger.com/" onclick="navigator.app.loadUrl('http://lucaspaulger.com/', { openExternal:true }); return false;">About Me</a></h2>

  <p>Checkout my <a href="http://lucaspaulger.com/" onclick="navigator.app.loadUrl('http://lucaspaulger.com/', { openExternal:true }); return false;">website</a>, or contact me at <a
    href="mailto:lucas.paulger@gmail.com">lucas.paulger@gmail.com</a> to learn more.</p>


  <span>Made with <i class="fa fa-heart"></i> in Europe</span>
</div>
