<a class="link back-link btn"><i class="fa fa-angle-left"></i></a>
<div id="titleBar">
  <h1>Settings</h1>
</div>

<ul id="settingsList">
  {{#settings}}
  <li class="type-{{type}}">
    <h4>{{name}}</h4>
    <p>{{description}}</p>
    <span data-id="{{id}}" class="js-type-{{type}}">
      {{#options}}
        <label for="{{value}}Input">{{value}}
          <input id="{{value}}Input" type="radio" name="dominant-hand" value="{{value}}" {{checked}}/>
        </label>
      {{/options}}
      {{^options}}
        {{#value}}
        <i class="fa fa-toggle-on"></i>
        {{/value}}
        {{^value}}
        <i class="fa fa-toggle-off"></i>
        {{/value}}
      {{/options}}
    </span>
  </li>
  {{/settings}}
</ul>
