@import "compass/css3/transform";
/*
Variables
*/
$home-cards-font-size-large: 1.6em;
$home-cards-font-size-small: 1em;

/*
General Layout
*/

html, body, #content {
  height: 100%;
  margin: 0;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 320px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

  @media screen and (max-height: $break-mobile-small) {
    font-size: .8em;
  }

  @media screen and (min-height: $break-tablet) {
    font-size: 1.4em;
  }
}

#content{
  background: #b48484;
  overflow: hidden;
  position: relative;
}


/*
Home Page
*/

header {
  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }

  h4 {
    margin: 0;
  }
}

h1, h3, h4 {
  text-align: center;
}

#homeDeck {
  position: relative;
  margin: 0 auto;
  width: 12em;
  top: 42%;
  @include translateY(-50%);
  > div {
    position: relative;
    font-size: $home-cards-font-size-small;
    top: 50%;
    height: 100%;
    @include translateY(-50%);
    ul.hand{
      margin-left: -1.5em;
      @include transform(translate(1.9em, .9em) rotate(22deg));
    }
  }

  @media screen and (min-height: $break-mobile-small) {


    width: 20em;
    top: 50%;
    > div {
      font-size: $home-cards-font-size-large;
    }
  }
}

.version-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*
Cribbage Board
*/

#bottomControls {
  position: absolute;
  bottom: 2em;
  text-align: center;
  width: 100%;

  button {
    width: 70%;
    font-size: 1.7em;
    padding: .2em;
  }
}

#messageContainer {
  list-style: none;
  background-color: rgba(0,0,0,0.3);
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  position: absolute;

  li {
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
  }
}

.scoreboard {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  &:first-child{
    top: 0;
  }

  &:last-child{
    bottom: 0;
  }
  label{
    padding: .2em;
    float: left;

    &:last-child{
      float: right;
    }
  }

}

#table {
  position: absolute;
  bottom: 7.6em;
  height: 6.6em;
  width: 100%;

  #deck{
    position: relative;
  }
}

#play {
  position: absolute;
  top: 60%;
  left: 6em;
  @include translateY(-50%);
}

@mixin player{
  height: 6.6em;
  width: 100%;
  position: absolute;
}

#player1{
  @include player;
  bottom: 0;
}

#player2{
  @include player;
  bottom: 14.6em;
}

.player {
  .playingCards {
    position: relative;
    //top: 50%;
    //@include translateY(-50%);
    .crib{
      right: 5em;
      position: absolute;
      top: 0em;
    }
  }
  .playingCards:first-child{
    left:0;
  }
}

.player1-board-peg{
  color: red;
}

.player2-board-peg{
  color: orange;
}

#cribbageBoard {
  height: 6em;
  background-color: #376745;
  font-size: .8em;
  ul{
    margin: 0 auto;
    padding: .5em;
    clear: both;
    display: block;
    width: 16em;
    height: 1em;
  }

  span {
    float: left;
  }

  li {
    float: left;
    list-style-position: inside;
    width: 0.49em;
    transition: color 0.2s linear;

    &:nth-child(5n){
      border-right:.1em solid white;
      margin-right: .1em;
    }

    &:nth-child(1), &:nth-child(31) {
      border-left: .1em solid #fff;
      padding-left: .1em;
      margin-left: -.1em;
    }
  }
}

#count {
  position: absolute;
  bottom: 0;
  label {
    position: relative;
    left: .4em;
    padding: .2em;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
  }
}

#controls {
  position: absolute;
  right: 0;
  top: 0;

  button {
    height: 3em;
    width: 4em;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    font-size: 2em;
  }
}
