#table {
  position: absolute;
  bottom: 7.6em;
  height: 6.6em;
  width: 100%;

  > span {
    position: absolute;
    right: .5em;
    width: 4.5em;
    top: -.7em;
    text-align: center;
    color: orange;
    background: rgba(0, 0, 0, 0.3);
    font-weight: bold;

    &:nth-child(3){
      top: 6.3em;
      color: red;
    }
  }
}

#deck > .deck{
  position: absolute;
  right: 5em;

  &.strait{
    right: 17em;
  }
}

#play {
  position: absolute;
  top: 60%;
  left: 7em;
  @include translateY(-50%);
}

#count {
  position: absolute;
  top: -.5em;
  width: 7em;
  text-align: center;

  label {
    position: relative;
    padding: 0 .2em;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
  }
}

#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 7em;

  button {
    height: 2.4em;
    width: 2.4em;
    font-size: 2em;
  }
}
