@import "compass/css3/transform";
/*
Colors
*/
$table-background-color: #b48484 !default;
$alternative-color: #376745 !default;
$text-color: white !default;
$player-color: red !default;
$opponent-color: orange !default;

$navigation-home-link-active: $table-background-color !default;
/*
Variables
*/
$home-cards-font-size-large: 1.6em;
$home-cards-font-size-small: 1em;

/*
General Layout
*/

html, body, #content , #gameContainer{
  height: 100%;
  margin: 0;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 320px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;
  font-size: .8em;
}

#content, #gameContainer{
  background: $table-background-color;
  overflow: hidden;
  position: relative;
}


/*
Home Page
*/

header {
  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }

  h4 {
    margin: 0;
  }
}

h1, h3, h4 {
  text-align: center;
}

#homeDeck {
  position: relative;
  margin: 0 auto;
  width: 12em;
  top: 42%;
  @include translateY(-50%);
  > div {
    position: relative;
    font-size: $home-cards-font-size-small;
    top: 50%;
    height: 100%;
    @include translateY(-50%);
    ul.hand{
      margin-left: -1.5em;
      @include transform(translate(1.9em, .9em) rotate(22deg));
    }
  }

  @media screen and (min-height: $break-mobile-small) {


    width: 20em;
    top: 50%;
    > div {
      font-size: $home-cards-font-size-large;
    }
  }
}

.version-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*
Cribbage Board
*/

a.link{
  position: absolute;
  margin: .62em .4em;
  font-size: 2em;

  @media screen and (min-width: $break-mobile-x-small) {
    margin: .62em .7em;
  }

  &:active {
    color: $navigation-home-link-active;
  }

  &.help-link {
    top: 0;
    right: 0;
    width: .929em;
  }
}

#bottomControls {
  position: absolute;
  bottom: 1em;
  text-align: center;
  width: 100%;

  button {
    width: 60%;
    font-size: 1.2em;
    padding: .2em;
    background-color: $alternative-color;
    color: $text-color;
    border: 1px solid white;
    margin: .05em;
    border-radius: .5em;

    @media screen and (min-height: $break-mobile-x-small) {
      width: 70%;
      font-size: 1.7em;
    }
  }
}

#messageContainer {
  list-style: none;
  background-color: rgba(0,0,0,0.3);
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  position: absolute;

  li {
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
  }
}

.scoreboard {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  &:first-child{
    top: 0;
  }

  &:last-child{
    bottom: 0;
  }
  label{
    padding: .2em;
    float: left;

    &:last-child{
      float: right;
    }
  }
}

@import "layout.table";

@mixin player{
  height: 6.6em;
  width: 100%;
  position: absolute;
}

#player1{
  @include player;
  bottom: 0;
}

#player2{
  @include player;
  bottom: 14.6em;
}

.player {
  .playingCards {
    position: relative;
    .crib{
      right: 5em;
      position: absolute;
      top: 0em;
    }
  }
  .playingCards:first-child{
    left:0;
  }
}

.player1-board-peg{
  color: $player-color;
}

.player2-board-peg{
  color: $opponent-color;
}

#cribbageBoard, #titleBar {
  height: 6em;
  background-color: $alternative-color;
  font-size: .8em;

  ul{
    margin: 0 auto;
    width: 16em;
    height: 50%;
    padding: 0;
  }

  span {
    float: left;
  }

  li {
    float: left;
    list-style-position: inside;
    width: 0.49em;
    transition: color 0.2s linear;
    position: relative;
    top: 50%;
    transform: translateY(-100%);

    &:nth-child(5n){
      border-right:.1em solid white;
      margin-right: .1em;
    }

    &:nth-child(1), &:nth-child(31) {
      border-left: .1em solid #fff;
      padding-left: .1em;
      margin-left: -.1em;
    }
  }

  h1{
    text-align: center;
    margin: 0;
    line-height: 3em;
  }
}

.paragraph-container{
  padding: .2em;

  a{
    color: $alternative-color;
  }

  span{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

//Mobile Responsive design

@media screen and (orientation: landscape) {
  #messageContainer{
    position: relative;
    width: auto;
    margin: auto 5em;
  }

  #gameContainer {
    margin-right: 7.8em;
  }

  #cribbageBoard{
    transform: rotate(270deg);
    position: fixed;
    //determine sizes later
    height: 6em;
    width: 57em;
    top: 8em;
    right: -25.5em;
    font-size: 1.3em;
  }
}

@media screen and (min-height: $break-mobile-small) {
  body {
    font-size: 1em;
  }

  #deck > .deck.strait{
    right: 14em;
  }
}

@media screen and (min-height: $break-mobile-small) and (orientation: landscape) {
  body {
    font-size: 1.3em;
  }

  #deck > .deck.strait{
    right: 12em;
  }
}

@media screen and (min-height: $break-tablet) {
  body {
    font-size: 1.7em;
  }

  #deck > .deck.strait{
    right: 10em;
  }
}
