#table {
  position: absolute;
  bottom: 7.6em;
  height: 6.6em;
  width: 100%;

  > span {
    position: absolute;
    left: .2em;
    width: 4.5em;
    top: -.85em;
    text-align: center;
    color: orange;
    background: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border-radius: 2em;

    #gameContainer.left & {
      right: .5em;
      left: initial;
    }

    &:nth-child(3){
      top: 6.3em;
      color: red;
    }
  }
}

#deck > .deck{
  position: absolute;
  left: .2em;

  #gameContainer.left & {
    right: 5em;
    left: initial;
  }

  &.strait{
    right: 17em;
  }
}

#play {
  position: absolute;
  top: 60%;
  left: 7em;
  @include translateY(-50%);
}

#count {
  position: absolute;
  top: -.5em;
  width: 7em;
  text-align: center;
  right: 0;

  #gameContainer.left & {
    left: 0;
    right: initial;
  }

  label {
    position: relative;
    padding: 0 .2em;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    border-radius: 2em;
  }
}

#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 7em;

  #gameContainer.left & {
    left: 0;
  }

  button {
    height: 2.4em;
    width: 2.4em;
    font-size: 2em;
  }
}
