$fa-font-path: '../bower_components/Font-Awesome/fonts';
@import '../bower_components/Font-Awesome/scss/font-awesome';

$card-font-size: 1em;
$enable-webkit-background: false;
$enable-mozilla-background: false;
$playingCards-hand-bottom-margin: .7em;
//responsive portrait
$break-mobile-x-small: 321px;
$break-mobile-small: 361px;
$break-mobile-large: 520px;
$break-tablet: 768px;

@import 'cards';

@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (     -o-min-device-pixel-ratio: 3/1),
only screen and (        min-device-pixel-ratio: 3){

  @for $i from 2 through 10 {
    .playingCards .card.rank-#{$i} .suit:after {
      margin-top: -1em;
      line-height: 1.5em;

      @if $i == 10 {
        line-height: 1.8em;
      }
    }

    .playingCards .card.rank-#{$i} .suit{
      font-size: .6em;
    }
  }
  .playingCards .card.rank-J .suit:after{
    right: .1em;
  }
}

@import 'layout';
