@import 'cards';

html { 
  //background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#content{
  background: #b48484;
  overflow: hidden;
}

.player {
  height: 8em;
  margin-bottom: 1.7em;
}