@import 'cards';

html, body, #content {
  height: 100%;
  margin: 0;
}

html { 
  //background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;//color: #333;
}

#content{
  background: #b48484;
  overflow: hidden;
  position: relative;
}

#messageContainer {
  position: absolute;
  list-style: none;
  background-color: rgba(0,0,0,0.3);
  margin: 0;
  padding: 0;
  top: 20%;
  width: 100%;
  z-index: 1;

  li {
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
  }
}

.scoreboard {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  &:first-child{
    top: 0;
  }

  &:last-child{
    bottom: 0;
  }
  label{
    padding: .2em;
    float: left;

    &:last-child{
      float: right;
    }
  }

}

#table {
  position: relative;
  height: 33.33%;

  #deck{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  //height: 8em;
  //margin: 0 0 1.5em 0;
}

#play {
  position: absolute;
  top: 60%;
  left: 6em;
  transform: translateY(-50%);
}

.player {
  height: 33.33%;// 8em;
  //margin-bottom: 1.7em;
  position: relative;

  .playingCards {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .crib{
      right: 130px;
      position: absolute;
      top: 0;
    }
  }
  .playingCards:first-child{
    left:0;
  }
}

#count {
  position: absolute;
  bottom: 0;
  label {
    position: relative;
    left: .4em;
    padding: .2em;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
  }
}

#controls {
  position: absolute;
  right: 0;
  top: 34%;

  button {
    height: 3em;
    width: 4em;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
    font-size: 2em;
  }
}