<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lucaspaulger.cribbage" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CribbageTheGame</name>
    <description>
        A simple HTML5/JS Cribbage game
    </description>
    <author email="lucas.paulger@gmail.com" href="http://lucaspaulger.com">
        Lucas Paulger
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
